<!DOCTYPE html>
<html>
<head>
    <title>Edit Reservation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon/freddyfazbear.png">
    <style>
        .subcontainer-red {
            background-color: #e54c44;
            text-align: center;
            border-radius: 10px;
            margin-top: 20px;
            padding: 20px;
            border-radius: 8px;
            display: flex;
            align-items: center; /* Center vertically */
        }

        #selectLab{
            background-color:#fffcef;
            width: 180px;
            height: 200px;
            border-radius: 10px;
            padding: 20px;
            border-radius: 8px;
            display: inline-block;
        }

        #leftArrow {
            width: 0;
            height: 0;
            align-self: center;
            margin-right: 5px;
            margin-left: -10px;
            border-top: 15px solid transparent; 
            border-bottom: 15px solid transparent; 
            border-right: 30px solid #f1cf54;
            display: inline-block;
        }

        #rightArrow {
            width: 0;
            height: 0;
            align-self: center;
            margin-left: 5px;
            border-top: 15px solid transparent; 
            border-bottom: 15px solid transparent; 
            border-left: 30px solid #f1cf54;
            display: inline-block;
        }

        #rInfo {
            margin-left: 20px;
            text-align: left; /* Align text to the left */
        }

        .seats{
            width: 34px;
            height: 34px;
            display: inline-block;
            margin: 3px;
            cursor: pointer;
        }
        #labTitle{
            font-size: 10px;
            margin-top: -15px;
        }
        #reserve, #delete{
            background-color: #f1cf54;
            width: 100px;
            height: 30px;
        }

    </style>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="/js/User.js"></script>
    <script src="/js/CurrentUser.js"></script>
    <script src="/js/ReserveSaveEdit.js" trueLab="{{reservationsData.laboratory}}" seat="{{reservationsData.seat}}" id="helper"></script>
</head>
<body>
    {{>nav}}
    <div class="container">
        <h1>Edit Reservation</h1>
        {{#if usernameNotExist}}
        <b>Edit was unsuccessful. The student username does not exist.</b><br>
        {{/if}}
        {{#if validCheck}}
        <b>Edit was unsuccessful. The slot has already been taken.</b><br>
        {{/if}}
        {{#if cannotCancel}}
        <b>Deletion unsuccessful. This reservation cannot be cancelled yet.</b><br>
        {{/if}}
        <div class="subcontainer-red">
            <!--Add div for the lab selection menu-->
            <div id="leftArrow"></div>
            <div id="selectLab">
                <div id="labTitle"><h1></h1></div>
                <div class="seats" id="seat1">S1</div>
                <div class="seats" id="seat2">S2</div>
                <div class="seats" id="seat3">S3</div>
                <div class="seats" id="seat4">S4</div>
                <div class="seats" id="seat5">S5</div>
                <div class="seats" id="seat6">S6</div>
                <div class="seats" id="seat7">S7</div>
                <div class="seats" id="seat8">S8</div>
                <div class="seats" id="seat9">S9</div>
                <div class="seats" id="seat10">S10</div>
            </div>
            <div id="rightArrow"></div>
            <div id="rInfo">
            <form action="/app/main/reserve/save" method ="post" enctype="multipart/form-data">
                <div id="infoLabTitle"></div>
                <div id="infoSeatNum">{{reservationsData.seat}}</div>
                <input id="infoSeatNumHidden" type="hidden" name="infoSeatNum" value={{reservationsData.seat}}>
                <div id="date">Date: <input type="date" id="reservationDate" name="dateCheck" value="{{formattedDate}}" required></div>
                <select id="time_slot" name="time_slot">
                    <option value="9:00 AM">Slot 1 (9:00 - 9:30)</option>
                    <option value="9:30 AM">Slot 2 (9:30 - 10:00)</option>
                    <option value="10:00 AM">Slot 3 (10:00 - 10:30)</option>
                    <option value="10:30 AM">Slot 4 (10:30 - 11:00)</option>
                    <option value="11:00 AM">Slot 5 (11:00 - 11:30)</option>
                    <option value="11:30 AM">Slot 6 (11:30 - 12:00)</option>
                    <option value="12:00 PM">Slot 7 (12:00 - 12:30)</option>
                    <option value="12:30 PM">Slot 8 (12:30 - 1:00)</option>
                    <option value="1:00 PM">Slot 9 (1:00 - 1:30)</option>
                    <option value="1:30 PM">Slot 10 (1:30 - 2:00)</option>
                    <option value="2:00 PM">Slot 11 (2:00 - 2:30)</option>
                    <option value="2:30 PM">Slot 12 (2:30 - 3:00)</option>
                    <option value="3:00 PM">Slot 13 (3:00 - 3:30)</option>
                    <option value="3:30 PM">Slot 14 (3:30 - 4:00)</option>
				</select>
                <!--Get date and time here and put it in a -->
                <div id="name">Name: {{currentUser.username}}</div>
                <div id="inputName">
                    <span id="userHolder" style="display: none;">{{currentUser.role}}</span>
                    <div id="studentNameText" style="display: none;">Student Name:</div>
                    <input type="text" id="roleInput" name="studentNameText" style="display: none;">
                </div>
                <a href="/app/main"><button id="reserve" class="submit-button">Save</button></a>
            </form>
            <form action="/app/main/reserve/deletereservation" method ="post" enctype="multipart/form-data">
                <input name="toDelete" value={{reservationsData.reserveId}} style="display: none;">
                <input name="deleteDate" value="{{reservationsData.dateTimeReservation}}" style="display: none;">
                <a href="/app/main"><button id="delete" class="submit-button">Delete</button></a>
            </form>
            </div>
        </div>
    </div>
    
</body>
</html>

