{{>nav}}

    <div class="container" style="width: 700px; position: relative; min-height: 500px; background-color: #e54c44;">
        <h1 style="color: #fffcef">Reservation Details</h1>
    

    <div style="left: 0; right: 0">
        {{#if reservationsData.length}}
        <table style="left: 0" id="reservationTable">
            <br>
            <thead id="profiletableheader">
                <tr>
                    <th>Seat</th>
                    <th>Laboratory Name</th>
                    <th>Date and Time of Request</th>
                    <th>Date and Time of Reservation</th>
                </tr>
            </thead>
            <tbody id="reservationTableBody">
                {{#each reservationsData}}
                <tr>
                    <td>{{ this.seat }}</td> <td>{{ this.laboratory }}</td>
                    <td>{{ this.dateTimeRequest }}</td>
                    <td>{{ this.dateTimeReservation }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
                <p style="color: #fffcef">No reservations found.</p>
        {{/if}}
    </div>
    <br>

</div>