<!DOCTYPE html>
<html>
<head>
    <title>Edit Reservation - Fazbear Entertainment Labs</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon/freddyfazbear.png">
    <style>
        .editSubcontainer {
            border-radius: 8px;
            margin-top: -0.3px;
            text-align: center;
            width: 500px;
            background-color: #e54c44;
        }
        h2 {
            font-family: "Press Start 2P", system-ui;
            font-size: 15px;
            margin-bottom: 10px;
            font-weight: 400;
            line-height: 1.2;
            color: #fffcef;
            padding-top: 10px;
        }
        .content {
            display: flex;
            flex-direction: column;
        }
        .content p {
            margin: 0;
        }
        .schedule-list {
            background-color: #fffcef;
            width: 440px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            border: none;
            overflow: hidden; /* Clear floats */
            position: relative; /* Add position relative */
            cursor: pointer;
        }
        .float-right1 {
            position: absolute; /* Change position to absolute */
            right: 20px; /* Adjust right positioning */
            text-align: right; /* Align text to the right */
        }
        .float-right2 {
            position: absolute; /* Change position to absolute */
            right: 20px; /* Adjust right positioning */
            top: 38px;
            text-align: right; /* Align text to the right */
        }
        .float-left {
            text-align: left; /* Align text to the left */
        }
    </style>
    <script src = "/js/User.js"></script>
    <script src="/js/CurrentUser.js"></script>
    <script src="/js/Reservation.js"></script>
</head>
<body>
    {{>nav}}
    <div class="container">
        <span id="userRole" style="display: none;">{{currentUser.role}}</span>
        <span id="userName" style="display: none;">{{currentUser.username}}</span>
        <h1>Edit Reservation</h1>
        <div class="editSubcontainer">
            <h2>Select Reservation to Edit</h2>
            <div id="buttonsContainer">
                {{#each reservationsData}}
                <button class="schedule-list" onclick="window.location.href='saveedit?id=' + {{this.reserveId}}">
                    <div class="content">
                        {{#if this.anonymous}}
                            <p class="float-left">Anonymous</p>
                        {{else}}
                            <p class="float-left">{{this.username}}</p>
                        {{/if}}
                        <p class="float-left">{{this.laboratory}}</p>
                        <p class="float-left">{{this.seat}}</p>
                        <p class="float-right1">Reserve Time: {{this.dateTimeReservation}}</p>
                        <p class="float-right2">Request Time: {{this.dateTimeRequest}}</p>
                    </div>
                </button>
                {{/each}}
            </div> <!-- Container for dynamic buttons -->
        </div>
    </div>
</body>
</html>