{{>nav}}

    <div class="container" style="width: 700px; position: relative; height: 500px">
        <h1>Reservation Details</h1>
    

    <div class="table-container" style="left: 0; right: 0">
        <table style="left: 0">
            {{#if reservationsData.length}}
            <thead>
                <tr>
                    <th>Seat</th>
                    <th>Laboratory Name</th>
                    <th>Date and Time of Request</th>
                    <th>Date and Time of Reservation</th>
                </tr>
            </thead>
            <tbody id="reservationTableBody">
                {{#each reservationsData}}
                <tr>
                    <td>{{ this.seat }}</td> <td>{{ this.laboratory }}</td>
                    <td>{{ this.dateTimeRequest }}</td>
                    <td>{{ this.dateTimeReservation }}</td>
                </tr>
                {{/each}}
            {{else}}
                <p style="margin-left:285px">No reservations found.</p>
            {{/if}}
            </tbody>
        </table>
    </div>
    <br>

</div>