{{>nav}}
        <div class="container">
			<h1>Search for Slots</h1><br>
			<div>
				<form action="/app/main/search/slots" method="get">
					<input type="date" class="form-input" id="selected_date" name="selected_date">
					<select id="time_slot" name="time_slot">
						<option value="choose-slot">Choose Time</option>
						<option value="slot1">Slot 1 (9:00 - 9:30)</option>
						<option value="slot2">Slot 2 (9:30 - 10:00)</option>
						<option value="slot3">Slot 3 (10:00 - 10:30)</option>
						<option value="slot4">Slot 4 (10:30 - 11:00)</option>
						<option value="slot5">Slot 5 (11:00 - 11:30)</option>
						<option value="slot6">Slot 6 (11:30 - 12:00)</option>
						<option value="slot7">Slot 7 (12:00 - 12:30)</option>
						<option value="slot8">Slot 8 (12:30 - 1:00)</option>
						<option value="slot9">Slot 9 (1:00 - 1:30)</option>
						<option value="slot10">Slot 10 (1:30 - 2:00)</option>
						<option value="slot11">Slot 11 (2:00 - 2:30)</option>
						<option value="slot12">Slot 12 (2:30 - 3:00)</option>
						<option value="slot13">Slot 13 (3:00 - 3:30)</option>
						<option value="slot14">Slot 14 (3:30 - 4:00)</option>
					</select>
					<select id="selected_lab" name="lab">
						<option value="choose-lab">Choose Lab</option>
						<option value="lab1">Freddy's Frightful Manor</option>
						<option value="lab2">Chica's Chilling Chamber</option>
						<option value="lab3">Puppet's Perilous Palace</option>
					</select><br><br>
					<button class="search-button">Search for Slots</button>
				</form>
				{{#if isTakenSeat}}
				<p id="search-results">
					<br><b>{{newlab}} {{newdatetime}}</b><br>
					<div id="selectLab">
						{{#if isTakenSeat.[0]}}
							<div class="takenseat">S1
								<div class="taken-details">
								{{#if isTakenSeat.[0].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[0].username }}" name="name" value="{{ isTakenSeat.[0].username }}" method="get" class="user-link">{{ isTakenSeat.[0].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[0].dateTimeRequest}}
								</div>
							</div>
						{{else}}
							<div class="seats">S1</div>
						{{/if}}
						{{#if isTakenSeat.[1]}}
							<div class="takenseat">S2
								<div class="taken-details">
								{{#if isTakenSeat.[1].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[1].username }}" name="name" value="{{ isTakenSeat.[1].username }}" method="get" class="user-link">{{ isTakenSeat.[1].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[1].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S2</div>
						{{/if}}
						{{#if isTakenSeat.[2]}}
							<div class="takenseat">S3
								<div class="taken-details">
								{{#if isTakenSeat.[2].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[2].username }}" name="name" value="{{ isTakenSeat.[2].username }}" method="get" class="user-link">{{ isTakenSeat.[2].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[2].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S3</div>
						{{/if}}
						{{#if isTakenSeat.[3]}}
							<div class="takenseat">S4
								<div class="taken-details">
								{{#if isTakenSeat.[3].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[3].username }}" name="name" value="{{ isTakenSeat.[3].username }}" method="get" class="user-link">{{ isTakenSeat.[3].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[3].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S4</div>
						{{/if}}
						{{#if isTakenSeat.[4]}}
							<div class="takenseat">S5
								<div class="taken-details">
								{{#if isTakenSeat.[4].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[4].username }}" name="name" value="{{ isTakenSeat.[4].username }}" method="get" class="user-link">{{ isTakenSeat.[4].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[4].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S5</div>
						{{/if}}
						{{#if isTakenSeat.[5]}}
							<div class="takenseat">S6<div class="taken-details">
								{{#if isTakenSeat.[5].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[5].username }}" name="name" value="{{ isTakenSeat.[5].username }}" method="get" class="user-link">{{ isTakenSeat.[5].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[5].dateTimeRequest}}
							</div></div>
							
						{{else}}
							<div class="seats">S6</div>
						{{/if}}
						{{#if isTakenSeat.[6]}}
							<div class="takenseat">S7<div class="taken-details">
								{{#if isTakenSeat.[6].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[6].username }}" name="name" value="{{ isTakenSeat.[6].username }}" method="get" class="user-link">{{ isTakenSeat.[6].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[6].dateTimeRequest}}
							</div></div>
							
						{{else}}
							<div class="seats">S7</div>
						{{/if}}
						{{#if isTakenSeat.[7]}}
							<div class="takenseat">S8
								<div class="taken-details">
								{{#if isTakenSeat.[7].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[7].username }}" name="name" value="{{ isTakenSeat.[7].username }}" method="get" class="user-link">{{ isTakenSeat.[7].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[7].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S8</div>
						{{/if}}
						{{#if isTakenSeat.[8]}}
							<div class="takenseat">S9
								<div class="taken-details">
								{{#if isTakenSeat.[8].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[8].username }}" name="name" value="{{ isTakenSeat.[8].username }}" method="get" class="user-link">{{ isTakenSeat.[8].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[8].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S9</div>
						{{/if}}
						{{#if isTakenSeat.[9]}}
							<div class="takenseat">S10
								<div class="taken-details">
								{{#if isTakenSeat.[9].isAnonymous}}
									Reserved by Anonymous<br>
								{{else}}
								Reserved by <a href="/app/main/reserve/users/{{ isTakenSeat.[9].username }}" name="name" value="{{ isTakenSeat.[9].username }}" method="get" class="user-link">{{ isTakenSeat.[9].username }}</a><br>
								
								{{/if}}
								{{isTakenSeat.[9].dateTimeRequest}}
							</div>
							</div>
							
						{{else}}
							<div class="seats">S10</div>
						{{/if}}
					</div>
				
				</p>
				<b id="available">Available</b><b id="unavailable">Unvailable</b>
				{{/if}}
		</div>