{{>nav}}
        <div class="container">
			<h1>Search for Slots</h1><br>
			<div>
				<form action="/app/main/search/slots" method="get">
					<input type="date" class="form-input" id="selected_date" name="selected_date">
					<select id="time_slot" name="time_slot">
						<option value="choose-slot">Choose Time</option>
						<option value="slot1">Slot 1 (9:00 - 9:30)</option>
						<option value="slot2">Slot 2 (9:30 - 10:00)</option>
						<option value="slot3">Slot 3 (10:00 - 10:30)</option>
						<option value="slot4">Slot 4 (10:30 - 11:00)</option>
						<option value="slot5">Slot 5 (11:00 - 11:30)</option>
						<option value="slot6">Slot 6 (11:30 - 12:00)</option>
						<option value="slot7">Slot 7 (12:00 - 12:30)</option>
						<option value="slot8">Slot 8 (12:30 - 1:00)</option>
						<option value="slot9">Slot 9 (1:00 - 1:30)</option>
						<option value="slot10">Slot 10 (1:30 - 2:00)</option>
						<option value="slot11">Slot 11 (2:00 - 2:30)</option>
						<option value="slot12">Slot 12 (2:30 - 3:00)</option>
						<option value="slot13">Slot 13 (3:00 - 3:30)</option>
						<option value="slot14">Slot 14 (3:30 - 4:00)</option>
					</select>
					<select id="selected_lab" name="lab">
						<option value="choose-lab">Choose Lab</option>
						<option value="lab1">Freddy's Frightful Manor</option>
						<option value="lab2">Chica's Chilling Chamber</option>
						<option value="lab3">Puppet's Perilous Palace</option>
					</select><br><br>
					<button class="search-button">Search for Slots</button>
				</form>
				{{#if isAvailableSeat}}
				<p id="search-results">
					<br><b>{{newlab}} {{newdatetime}}</b><br>
					{{!-- {{#each searchResults}}
					{{this.seat}}<br>
					{{/each}} --}}
					<div id="selectLab">
						{{#if isAvailableSeat.[0]}}
						<div class="seats">S1</div>
						{{else}}
						<div class="takenseat">S1</div>
						{{/if}}
						{{#if isAvailableSeat.[1]}}
						<div class="seats">S2</div>
						{{else}}
						<div class="takenseat">S2</div>
						{{/if}}
						{{#if isAvailableSeat.[2]}}
						<div class="seats">S3</div>
						{{else}}
						<div class="takenseat">S3</div>
						{{/if}}
						{{#if isAvailableSeat.[3]}}
						<div class="seats">S4</div>
						{{else}}
						<div class="takenseat">S4</div>
						{{/if}}
						{{#if isAvailableSeat.[4]}}
						<div class="seats">S5</div>
						{{else}}
						<div class="takenseat">S5</div>
						{{/if}}
						{{#if isAvailableSeat.[5]}}
						<div class="seats">S6</div>
						{{else}}
						<div class="takenseat">S6</div>
						{{/if}}
						{{#if isAvailableSeat.[6]}}
						<div class="seats">S7</div>
						{{else}}
						<div class="takenseat">S7</div>
						{{/if}}
						{{#if isAvailableSeat.[7]}}
						<div class="seats">S8</div>
						{{else}}
						<div class="takenseat">S8</div>
						{{/if}}
						{{#if isAvailableSeat.[8]}}
						<div class="seats">S9</div>
						{{else}}
						<div class="takenseat">S9</div>
						{{/if}}
						{{#if isAvailableSeat.[9]}}
						<div class="seats">S10</div>
						{{else}}
						<div class="takenseat">S10</div>
						{{/if}}
					</div>
				
				</p>
				<b id="available">Available</b><b id="unavailable">Unvailable</b>
				{{/if}}
		</div>