<html>
<head>
    <title>Delete User - Fazbear Entertainment Labs</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/User.js"></script>
    <script src="js/CurrentUser.js"></script>
    <script src="js/Delete.js"></script>
</head>

<nav>
    <div class="homebutton"><a href="/dashboard"><img id="home-icon" src="icons/home.png"> Home</a></div>
    <div class="dropdown">
        <a href="userviewprofile.html">User Profile</a>
        <div class="dropdown-content">
            <a href="userviewprofile.html">View Profile</a>
            <a href="usereditprofile.html">Edit Profile</a>
            <a href="userdelete.html">Delete Profile</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="reserve.html">Reserve</a>
        <div class="dropdown-content">
            <a href="reserve.html">Reserve</a>
            <a href="reserveedit.html">Edit Reservation</a>
            <a href="reservesee.html">See Reservations</a>
            <a href="/reserveviewslots">View Available Slots</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#">Search</a>
        <div class="dropdown-content">
            <a href="searchusers.html">Search Users</a>
            <a href="searchslots.html">Search Slots</a>
        </div>
    </div>
    <div><a href="userlogout.html">Logout</a></div>
</nav>

<body>
    <form>
        <div class="container">
            <img id="profileImage" src="{{ currentUser.profilepicture }}" alt="Profile Image" width="150">
            <br><br>
            <!-- Display user information -->
            <span id = "ID"> ID: {{currentUser._id}}</span>
            <br>
            <span>Email: {{ currentUser.email }}</span>
            <br>
            <span>Name: {{ currentUser.name }}</span>
            <br>
            <span>Description: {{ currentUser.description }}</span>
            <br>
            <span>Birthdate: {{ currentUser.birthdate }}</span>
            <br>
            <br>
            <!-- Alert user first if they're sure and will allow afterwards -->
            <button id="deleteUserButton" type="button" class="submit-button">Delete User</button>
        </div>
    </form>
</body>
</html>
