{{>nav}}
    <form>
        <div class="container">
            <img id="profileImage" src="{{ currentUser.profilepicture }}" alt="Profile Image" width="150">
            <br><br>
            <!-- Display user information -->
            <span id = "ID"> ID: {{currentUser._id}}</span>
            <br>
            <span>Email: {{ currentUser.email }}</span>
            <br>
            <span>Name: {{ currentUser.username }}</span>
            <br>
            <span>Description: {{ currentUser.description }}</span>
            <br>
            <span>Birthdate: {{ currentUser.birthdate }}</span>
            <br>
            <br>
            <!-- Alert user first if they're sure and will allow afterwards -->
            <button id="deleteUserButton" type="button" class="submit-button">Delete User</button>
        </div>
    </form>
